<div class="flex justify-end items-start gap-4">
    <div class="h-10 border border-gray-300 rounded px-2 py-1 ">
        <%= select_tag :order,
    options_for_select(
      [
        ["終了期限順", tasks_path(latest: true)],
        ["更新順",     tasks_path(updated: true)],
        ["作成順",     tasks_path(created: true)]
      ],
      # 現在のパラメータから選択中を表示
      selected: if params[:latest]
                  tasks_path(latest: true)#パスヘルパー＋キーバリューで指定
                elsif params[:updated]
                  tasks_path(updated: true)
                elsif params[:created]
                  tasks_path(created: true)
                else
                  tasks_path(updated: true)
                end
    ),
    onchange: "if (this.value) window.location.href = this.value;"%>
    </div>


    <div class="flex justify-end mb-6">
        <%= link_to  "新規作成", new_task_path, class: "btn" %>
    </div>
</div>
<ul>
    <li class="grid grid-cols-5 items-center mt-5 p-4 border-b bg-gray-300">
        <p>タスク名</p>
        <p>タスク内容</p>
        <p>終了期限</p>
        <p>詳細</p>
        <p>編集</p>
    </li>
    <% @tasks.each do |t| %>
    <%= turbo_frame_tag dom_id(t) do %>
    <li class="grid grid-cols-5 w-full items-center p-4 border-b border-gray-200 hover:bg-gray-100">

        <p class=" w-fit text-lg font-medium">
            <%= t.title %>
        </p>
        <p class="w-fit">
            <%= truncate(t.content, length: 11) %>
        </p>
        <p class="w-fit">
            <%= t.deadline.strftime("%Y年%m月%d日") if t.deadline.present? %>
        </p>
        <p class="w-fit">
            <%= link_to  "詳細▶︎", task_path(t),data: { turbo: false }, class: "px-4 py-3 bg-blue-500 text-white rounded-xl text-lg shadow hover:bg-blue-600 transition"%>
        </p>
        <p class="w-fit">
            <%= link_to "編集", edit_task_path(t),data: { turbo_frame: dom_id(t) },
        class: "px-10 py-3 bg-sky-500 text-white rounded-xl text-lg shadow hover:bg-sky-600 transition" %>
        </p>
    </li>
    <% end %>
    <% end %>

</ul>