<%# Turbo Frame 用 %>
<%= form_with model: @task,
              data: { turbo_frame: dom_id(@task) } do |f| %>

<div class="grid grid-cols-7 gap-4 items-center">
    <%= f.text_field :title, class: "inline_input" %>
    <%= f.text_field :content, class: "inline_input" %>
    <%= f.date_field :deadline, class: "inline_input " %>
    <%= f.select :status, 
    Task.statuses.keys.map { |status| [I18n.t("activerecord.attributes.task/status.#{status}"), 
    status] }, {}, 
    class: "display inline_input w-[6rem] mx-auto" %>
    <%= f.select :priority, Task.priorities.keys.map { |priority| [I18n.t("activerecord.attributes.task/priority.#{priority}"), priority] }, {}, class: "display inline_input w-[6rem] mx-auto" %>
    <div class="flex justify-center items-center gap-4 col-span-2">
        <p>
            <%= link_to "キャンセル", tasks_path,
          data: { turbo_frame: dom_id(@task) }, class: "btn02  bg-gray-500 "%>
        </p>
        <p>
            <%= f.submit "更新" , class: "btn02 bg-amber-600 "%>
        </p>
    </div>
</div>
<% end %>