<h1 class="block text-4xl font-bold text-center my-10">
    <%= @task.persisted? ? "タスク編集" : "タスク作成" %>
</h1>
<% if @task.errors.any? %>
<div class="bg-red-100 text-red-700 p-4 rounded mb-4">
    <strong><%= @task.errors.count %>件のエラーがあります：</strong>
    <ul class="mt-2">
      <% @task.errors.full_messages.each do |msg| %>
        <li>・<%= msg %></li>
      <% end %>
    </ul>
</div>
<% end %>
<%= form_with(model: @task, local: true) do |f| %>
<div class="max-w-3xl mx-auto space-y-10">
 <!-- タイトル -->
    <div class="flex items-start space-x-6">
    <%=f.label "タイトル" %>
    <%= f.text_field :title, class: "w-full border border-gray-400 p-3 rounded"%>
</div>
  <!-- タスク内容 -->
<div class="flex items-start space-x-6">
    <%=f.label "タスク内容" %>
    <%= f.text_area :content, class: "w-full border border-gray-400 p-3 rounded" %>
</div>
 <!-- 保存ボタン -->
<div class="p-4 bg-black text-white">
<%= f.submit(@task.persisted? ? "更新" : "作成",class: "btn-primary") %>
</div>
<% end %>